{% extends 'base.html' %}

{% block title%}Trivia{%endblock%}

{% block content %}
<div class="container">
    <div class="col-10 col-md-8 col-lg-6 mx-auto">
        {{question.sentence}}
        <hr>
        <form action="/trivia/question/{{trivia_question_id}}" method="post">
            {{crsf_token}}
            {% for answer in question.answers %}
            <label class="answer">
                {% if multiple %}
                <input type="checkbox" name="answer[]" value="{{answer.id}}">
                {% else %}
                <input type="radio" name="answer" value="{{answer.id}}">
                {% endif %}
                {{answer.sentence}}
            </label>
            {% endfor %}
            <div class="d-flex justify-content-center align-items-center">
                <button class="btn btn-primary btn-lg" type="submit">Confirm</button>
            </div>
        </form>
    </div>
</div>
{%endblock%}